<%- include("../partials/header") %>

<div class="container formBackground">
    <div class="row text-center">
        <div class="myform">
            <h1>Welcome <br><%= champion.name %></h1>
            <h3>Edit your Information Below!!</h3>
           

            <form action="/champions/<%= champion._id %>?_method=PUT" method="POST">

                <div class="form-group">
                    <label for="nameForm">Enter your Name</label>
                    <input class="form-control" type="text" name="champ[name]" id="nameForm" value="<%= champion.name %>">
                </div>
                <div class="form-group">
                    <label for="proForm">Enter your Profession</label>
                    <input class="form-control" type="text" name="champ[profession]" id="proForm" value="<%= champion.profession %>">
                </div>
                <!-- Make this a select option drop down that list all professions and also offers an other option that will allow for a typed in response -->
                <div class="form-group">
                    <label for="proTForm">Enter your Profession</label>
                    <input class="form-control" type="text" name="champ[professionalTitle]" id="proTForm" value="<%= champion.professionalTitle %>">
                </div>
                <div class="form-group">
                    <label for="imageForm">Enter your Image url</label>
                    <input  class="form-control" type="text" name="champ[image]" id="imageForm" value="<%= champion.image %>">
                </div>
                <div class="form-group">
                    <label for="detailForm">Describe yourself</label>
                    <input  class="form-control" type="text" name="champ[details]" id="detailForm" value="<%= champion.details %>">
                </div>
                <div class="form-group">
                    <label for="emailForm">Enter Email addesss</label>
                    <input  class="form-control" type="text" name="champ[email]" id="detailForm" value="<%= champion.email %>">
                </div>
                <div class="form-group">
                    <label for="phoneForm">Enter Contact Number</label>
                    <input  class="form-control" type="text" name="champ[phone]" id="phoneForm" value="<%= champion.phone %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-block btn-warning">Submit!</button>
                </div>
            </form>
            <a href="/champions">Go Back!</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>